# 1. What are escape characters, and how do you use them?

In [ ]:
To insert characters that are illegal in a string, use an escape character.
Escape characters:
    \n === new line 
    \t === insert tab space
    \f === form feed

In [50]:
print("Hello \r World!")

 World!

In [51]:
print("Hello \n World!")

Hello
 World!

In [52]:
print("Hello \t World!")

Hello 	 World!

# 2. What do the escape characters n and t stand for?

In [ ]:
Escape  characters: 
\n : new line
\t : tab

# 3. What is the way to include backslash characters in a string?

In [49]:
str1="Howl's Moving Castle/"
str1

"Howl's Moving Castle/"

# 4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

If you write the string in single quotes then we can't use other characters like comma,single quote etc. inside string but if we used double quotes then we can characters like comma,single quotes.
for this example is given below:

In [47]:
str1='Howl's Moving Castle'
str1

SyntaxError: invalid syntax (Temp/ipykernel_3796/182462951.py, line 1)

In [48]:
str1="Howl's Moving Castle"
str1

"Howl's Moving Castle"

# 5. How do you write a string of newlines if you don't want to use the n character?

In [45]:
str1='shital \nsubhash\nchaudhari'
print(str1,end="\n")

shital
subhash
chaudhari

# 6. What are the values of the given expressions?
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]

In [25]:
str1='Hello, world!'[1]
str1

'e'

In [26]:
str2='Hello, world!'[0:5]
str2

'Hello'

In [27]:
str2= 'Hello, world!'[:5] 
str2

'Hello'

In [28]:
str2='Hello, world!'[3:]
str2

'lo, world!'

# 7. What are the values of the following expressions?
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()

In [29]:
print('Hello'.upper())

HELLO

In [30]:
print( 'Hello'.upper().isupper())

True

In [31]:
print('Hello'.upper().lower())

hello

# 8. What are the values of the following expressions?
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())

In [22]:
str1='Remember, remember, the fifth of July.'.split() 
str1

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [23]:
 '-'.join('There can only one.'.split())

'There-can-only-one.'

# 9. What are the methods for right-justifying, left-justifying, and centering a string?

In [ ]:
method for left-justifying :   str.ljust(s, width[, fillchar])
method for right-justifying:   str.rjust(s, width[, fillchar])
method for centering a string: str.center(s, width[, fillchar])

In [14]:
str1="shital    chaudhari"
str2=str1.ljust(40,"*")
print(str2)

shital    chaudhari*********************

In [18]:
str1="shital    chaudhari"
str2=str1.rjust(40,"*")
print(str2)

*********************shital    chaudhari

In [19]:
str1="shital    chaudhari"
str2=str1.center(40,"*")
print(str2)

**********shital    chaudhari***********

# 10. What is the best way to remove whitespace characters from the start or end?

Best way to remove whitespace characters from start or end is strip() function.

In [12]:
str1="                shital    chaudhari   "
str3=str1.strip()
print("string is:"+str3)

string is:shital    chaudhari